body {
	margin: 0;
}
.key {
	display: inline-block;
	color: #fff;
	background: #000;
	border: 1px solid #fff;
	padding: 10px;
	font-family: monospace;
	font-size: 1px;
	text-decoration: none;
	margin: 0;
}

#keyboard {
	display: inline;
}
#wrapper {
	overflow: hidden;
	font-size: 0px;
	text-align: center;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: #444;
	width: 100%;
	text-align: center;
	height: 100%;
	color: #fff;
	z-index: 90000;
}
